<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>First_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>uname</param-name>
    <param-value>yash</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>yashvi</param-value>
  </context-param>
  <servlet>
    <servlet-name>jsp_init</servlet-name>
    <jsp-file>/Config.jsp</jsp-file>
    <init-param>
      <param-name>username</param-name>
      <param-value>shrey</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsp_init</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>First_Servlet</servlet-name>
    <servlet-class>First_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First_Servlet</servlet-name>
    <url-pattern>/First_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoLogin</display-name>
    <servlet-name>DemoLogin</servlet-name>
    <servlet-class>DemoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoLogin</servlet-name>
    <url-pattern>/DemoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validateServlet</display-name>
    <servlet-name>validateServlet</servlet-name>
    <servlet-class>validateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateServlet</servlet-name>
    <url-pattern>/validateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcomeServlet</display-name>
    <servlet-name>welcomeServlet</servlet-name>
    <servlet-class>welcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomeServlet</servlet-name>
    <url-pattern>/welcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculateServlet</display-name>
    <servlet-name>calculateServlet</servlet-name>
    <servlet-class>calculateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculateServlet</servlet-name>
    <url-pattern>/calculateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>redirectServlet</display-name>
    <servlet-name>redirectServlet</servlet-name>
    <servlet-class>redirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirectServlet</servlet-name>
    <url-pattern>/redirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Config_Servlet</display-name>
    <servlet-name>Config_Servlet</servlet-name>
    <servlet-class>Config_Servlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Yash Soni</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Config_Servlet</servlet-name>
    <url-pattern>/Config_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cook_ies</display-name>
    <servlet-name>Cook_ies</servlet-name>
    <servlet-class>Cook_ies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cook_ies</servlet-name>
    <url-pattern>/Cook_ies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookie_1</display-name>
    <servlet-name>cookie_1</servlet-name>
    <servlet-class>cookie_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie_1</servlet-name>
    <url-pattern>/cookie_1</url-pattern>
  </servlet-mapping>
</web-app>